@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel
<!-- Using bootstrap output the book list -->
<!--  Here are the 3 extra bootstrap items I tried out. First 3 are on the _Layout page
    1. jumobtron
    2. alert alert-warning
    3.bg-secondary and bg-light
    4. On the Index.cshtml Page - badge-info instead of bage-primary

    -->
@foreach (var x in Model.Books)
{
    // use a partial view
    <partial name="SharedBookInfo" model="x" />
}
<!-- This is where the pagination happens. Current page is highlighted and you can select other pages-->
<div page-model="@Model.Pageinfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-info" page-url-category="@Model.CurrentCategory" class="btn-group pull-right m-1"></div>


